:root {
    --bg: linear-gradient(-45deg, #ffff, #ffff, #23a6d5, #23d5ab);
    --nav-size: 50px;
    --border: 1px solid #23a6d5;
}
.meniuDrop {
    height: var(--nav-size);
    background-color: linear-gradient(-45deg, #ffff, #ffff, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-bottom: var(--border);
    padding:0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.meniuBar{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}
.navItem{
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconButton{
    --buttonSize: calc(var(--nav-size) * 0.5);
    width: var(--buttonSize);
    height: var(--buttonSize);
    border: 2px solid #23a6d5;
    border-radius: 35%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconButton:hover{
    cursor: pointer;
    background: linear-gradient( 50deg, #ffff, #ffff, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}
.iconButton > img {
    width: 100%;
    height: 100%;
}
.dropDown{
    position: absolute;
    top: 50px;
    transform: translate(-60%);
    display: flex;
    flex-direction: column;
    border: 2px solid #23a6d5;
    border-radius: 8%;
    overflow: hidden;
    background: linear-gradient( 50deg, #ffff, #ffff, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
    justify-content: center;
    align-items: center;
}
.dropItem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 5px;
}
.fileInput::-webkit-file-upload-button{
    visibility: hidden;
}
.fileInput::before{
    content: 'Select an Image';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin-left: 40px;
}
.textInput {
    border: 2px solid #23a6d5;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: black;
}
h3{
    margin-top: 16px;
    margin-bottom: 10px;
}
.dropDown:hover{
    background: white;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropDown  img{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
}

.menu{
    width: 200px;
    height: 156px;
}
.menu-primary-enter{
    position: absolute;
    transform: translateX(-610%);
}
.menu-primary-enter-active{
    transform: translateX(0%);
    transition: all 5000ms ease;
}
.menu-primary-exit{
    position: absolute;
}
.menu-primary-exit-active{
    transform: translateX(-610%);
    transition: all 5000ms ease;
}
.menu-secondary-enter{
    transform: translateX(610%);
}
.menu-secondary-enter-active{
    transform: translateX(0%);
    transition: all 5000ms ease;
}
.menu-secondary-exit{

}
.menu-secondary-exit-active{
    transform: translateX(1110%);
    transition: all 5000ms ease;
}